.Navbar{
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 27px;
    letter-spacing: 0.4px; 
    gap: 4px;
    align-items: center;
} 
.scroll {
    float: left;
    width: 100px;
    color: white;
    overflow-x: scroll;
}

.scroll::-webkit-scrollbar-track {
    background-color: rgb(44, 19, 56);
}

.scroll::-webkit-scrollbar {
    display: none;
    background-color: rgb(44, 19, 56);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #c9dfba;
    border: 1px solid #c9dfba;
}
.Floating{
    display: flex;
    border-radius: 8px;
    gap: 70px;
    padding: 27px 39px;
    justify-content: space-around;
    background: #e5f0da;
    /* animation: ; */
    /* transition: ; */
    animation: floating 400ms normal;
}
@keyframes floating {
    0%{transform: translate(0px, 10px);}
    100%{transform: translate(0px, 0px);}
}
.Floating_div{
    display: flex;
    gap: 30px;
    font-size: 14px;
    line-height: 26px;
}
.Floating_heading{
    font-weight: 700;
    padding: 8px 0px;
}
.Floating_heading::after{
       content: "";
       width: 163px;
       display: block;
       height: 1.2px;
       background:  #475d4b;
}
.Floating img{
    margin-top: 15px;
}
.Floating_div li{
    cursor: pointer;
}
.Floating_div li:hover{
    cursor: pointer;
    text-decoration: underline !important;
}
